@use "@/shared/sass/variables.scss" as v;
@use "@/shared/sass/mixins.scss" as m;

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  &__text {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.25;
    color: var(--white-);
    letter-spacing: 0.09rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.94rem;
    line-height: 167%;
    color: var(--white-);
  }
}
