:root {
  --dark: #253142;
  --2: rgba(255, 255, 255, 0.2);
  --glass-: rgba(255, 255, 255, 0.04);
  --red: #fc4c4f;
  // --green: #73fff2;
  --violet: #6526ac;
  --blue-: #2c90f7;
  --green: #27ae60;
  --yellow: #f2994a;
  --white-: #fff;
  // --green: #73fff2;

  --font-family: "Montserrat", sans-serif;
  --second-family: "Roboto", sans-serif;
}
